.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
    width: auto;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f7274a;
    color: #ffffff;
    text-align: right;
    margin: 0px;
    font-size: 16px;
    z-index: 2;
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
    background-color: #f7274a;
}

.inf {
    position: absolute;
    float: left;
    z-index: 11;
}

.img-style {
    position: absolute; 
    transform: scale(0.1); 
    left: -430px;
}

.icon {
    position: absolute; 
    right: 20px;
    cursor: pointer;
}

.sidenav-container {
    flex: 1;
}

