<div *ngIf="isLoggedIn">
    <mat-toolbar class="header">
        <button mat-icon-button class="white" (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <img class="img-style" src="../assets/Caltex_brand_logo.svg.png">
        <button mat-icon-button class="icon white" (click)="onLogout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="isLoggedIn" class="snc" #snav [mode]="isNavOpen ? 'over' : 'side'" opened="isNavOpen"
        [fixedInViewport]="isNavOpen" fixedTopGap="64">
        <mat-selection-list  [multiple]="false">
            <!-- <mat-list-item (click)="isExpanded = !isExpanded">
                <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
                </mat-icon>
            </mat-list-item> -->

            <mat-list-option #option
            (click)="openDashboard()" 
            class="white item-underline"
            [selected]="router.url == '/dashboard' ? true : false"
            >
                <mat-icon mat-list-icon>home</mat-icon>
                <span *ngIf="isNavOpen" class="menu-item">Dashboard</span>
            </mat-list-option>

            <mat-list-option (click)="openSearch()" class="white"
            [selected]="router.url == '/search' ? true : false">
                <mat-icon mat-list-icon>search</mat-icon>
                <span *ngIf="isNavOpen" class="menu-item">Search</span>
            </mat-list-option>

            <mat-list-option [routerLink]="'user'" class="white">
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                <span *ngIf="isNavOpen" class="menu-item">User</span>
            </mat-list-option>

        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="isLoggedIn ? 'ofn-logout' : 'ofn-login'">
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>

<!-- <div *ngIf="false">
    <mat-toolbar class="footer">
        <p class="align-right">INIT - 2020</p>
    </mat-toolbar>
</div> -->
<page-loader></page-loader>