<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1 style="font-weight:bold;">Forget Password</h1>
                        <h5 style="font-family:courier">Please Enter Email</h5>
                    </div>
                    <br>
                    
                    
                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                                <mat-icon matSuffix> email</mat-icon>
                                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                  Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                  Email is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                              <br>
                              <br>
                                <button mat-raised-button color="primary">Recover Password</button>
                                <!-- <button  class="btn btn-primary  "   >Recover Password</button> -->
                                <br>
                                <br>
                                <a routerLink="/login" style="color:rgb(15, 15, 15); margin: top 20px; cursor: pointer; text-decoration: none;"> Back To login?</a>
                        </form>
                        
                        
                    
                </div>
            </div>
        </div>
    </div>
</div>