<!-- <secure-header *ngIf="isLogin"></secure-header> -->

<section class="content-block">
    <div class="row align-item-center">
        <div class="col-lg-12 col-md-12 col-xs-12 tr-campaign">
            <mat-card class="custom-card row">
                <mat-card-header>
                    <mat-card-title class="title-text">
                        Chevron Serial Search
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="tr-sec-box">
                        <div class="col-md-4 side-margin">
                            <div class="label-div">
                                <mat-label class="custom-label">Code</mat-label>
                            </div>
                            <mat-form-field class="full-width custom-form-field" appearance="none">
                                <input matInput class="custom-input" placeholder="Code" type="text" [(ngModel)]="keyword">
                                <button *ngIf="keyword" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="keyword=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 side-margin">
                            <div class="label-div">
                                <mat-label class="custom-label">Code Type</mat-label>
                            </div>
                            <mat-form-field class="full-width custom-form-field" appearance="none">
                                <mat-select fullWidth class="custom-input" placeholder="Select" [(ngModel)]="codeType">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let code of codeList" [value]="code.id">
                                        {{ code.value || "NA" }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 side-margin padding-cust">
                            <button mat-raised-button class="custom-button" color="primary"
                                [disabled]="this.keyword && this.codeType ? false : true" (click)="search()">
                                Search
                            </button>
                        </div>
                        <div *ngIf="false" class="col-md-2">
                            <button mat-raised-button class="custom-button" color="primary" (click)="loadSerialList()">
                                Search All
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <mat-paginator *ngIf="this.tempChevronSerialList.length > 25" #paginator [length]="length"
                            [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = pageChangeEvent($event)" [showFirstLastButtons]="true">
                        </mat-paginator>
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let serial of tempChevronSerialList" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="header-text">
                                        Serial No. {{ serial.serialNo }}
                                    </mat-panel-title>
                                    <mat-panel-description class="bold">
                                        Status: {{ serial.isDestroyed == 1 ? "Destroyed" : "Not Destroyed" }}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="row medium" *ngIf="false">
                                    <div class="col-md-2">
                                        <strong>Serial No:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.serialNo }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>SMS Code:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.smsCode }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>QR Code:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.qrCode }}
                                    </div>
                                </div>
                                <div class="row medium">
                                    <div class="col-md-2">
                                        <strong>Print Status: </strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isPrinted == 1 ? "True" : "False" }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Scan Status:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isScanned == 1 ? "True" : "False" }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Deliver Status:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isDelivered == 1 ? "True" : "False" }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Apply Status:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isApplied == 1 ? "True" : "False" }}
                                    </div>
                                </div>
                                <div class="row medium">
                                    <div class="col-md-2">
                                        <strong>Print Date: </strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isPrinted == 1 ? serial.printDate : "NA" }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Scan Date:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isScanned == 1 ? serial.scanDate : "NA" }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Deliver Date:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isDelivered == 1 ? serial.deliverDate : "NA" }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Apply Date:</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.isApplied == 1 ? serial.applyDate : "NA" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 custom-heading">
                                        PO Request Details
                                    </div>
                                    <div class="col-md-12">
                                        <hr style="border-radius: 2px; border-color: black; border: solid;">
                                    </div>
                                </div>
                                <div class="row medium">
                                    <div class="col-md-2">
                                        <strong>Status: </strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.poRequest.status }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Chevron PO No: </strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.poRequest.chevronPONo }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Price per Label: </strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.poRequest.priceOfLabel }}
                                    </div>
                                    <div class="col-md-2">
                                        <strong>Quantity: </strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{ serial.poRequest.quantity }}
                                    </div>
                                </div>
                            </mat-expansion-panel>

                        </mat-accordion>
                        <mat-paginator *ngIf="chevronSerialList.length > 0 ? true : false" #paginator [length]="length"
                            [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = pageChangeEvent($event)" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>