.full-width {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.tr-sec-box{
    flex-wrap: wrap;
}

.custom-button {
    margin: 10px 10px 10px 10px;
    width: auto;
    height: 40px;
    align-self: center;
}

.header-text {
    font-size: 18px;
    font-weight: bold;
}

.bold {
    right: 700px;
    /* position: absolute; */
    font-weight: bold;
}

.medium {
    font-size: 15px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;

}

.custom-row {
    display: flex;
}

.custom-heading {
    margin: 30px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
}

.col-md-2 {
    margin: 0px -70px 0px 0px;
}

.tr-campaign {
    margin-top: 46px;
}

.padding-cust {
    padding: 52px 20px 20px 20px;
}
.mar {
    margin-left: 10px;
}
.marr {
    margin-left: 24px;
}


