/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(255, 254, 254);
}

.full-width {
    width: 100%;
}

.two-row-card {
    float: left;
    width: 100%;
    padding: 0px -10px 10px 0px;
}


.tr-sec-box {
    display: flex;
}

.page-cs-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(229, 239, 242, 0.95);
    z-index: 20;
}

.page-cs-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.page-cs-loader mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.ofn-login {
    overflow: hidden !important;
    overflow-y: hidden !important;
    /* overflow-x: auto !important; */
    /* margin-left: 64px !important; */
    min-height: 750px;
    background: rgba(110, 104, 104, 0.979);
}

.ofn-logout {
    overflow: hidden !important;
    overflow-y: hidden !important;
    /* overflow-x: auto !important; */
    margin-left: 64px !important;
    min-height: 750px;
    background: white;
}

.white {
    color: white !important;
}

.align-right {
    flex: 1;
    text-align: right;
}

.dni {
    display: none !important;
}

.snc {
    /* display: block !important; */
    /* position: fixed !important; */
    top: 64px !important;
    background-color: #004c5f !important;
    /* visibility: visible !important; */
    /* transform: none !important; */
}

.mat-sidenav-fixed {
    width: 280px !important;
}

.item-underline {
    border-bottom: 1px solid;
}

.mat-list-single-selected-option {
    background: linear-gradient(to right, red 0%, red 2%, white 2%, white 100%) !important;
    color: #004c5f !important;
    height: 50px !important;
}

.title-text {
    font-size: 30px !important;
    font-weight: bold !important;
    align-self: center;
    font-family: 'Poppins';
    font-weight: 600;
}

.custom-card {
    width: 96%;
    border: 3px solid lightgray;
    box-shadow: none !important;
    margin: 45px auto !important;
    border-radius: 10px !important;
    padding: 50px 20px 50px 20px !important;
}

.custom-form-field {
    border-radius: 4px !important;
    height: 30% !important;
    border: 1px solid lightgray !important;
    vertical-align: middle !important;
}

.custom-input {
    margin-top: -20px !important;
    vertical-align: middle !important;
}

.mat-form-field-flex {
    align-items: start !important;
    margin-top: -5px !important;
}

.label-div {
    margin: 24px 10px 5px 15px;
    align-items: start;
}

.custom-label {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #6d6d6d;
}

.side-margin {
    margin-left: 25px;
    margin-right: 25px;
}
